<!doctype html>
<html  ng-app="myAppName">
  <head>
    <title>My Angular App</title>
  </head>
  <body>
    <h1>My Angular app</h1>
    <div ng-controller = 'FirstCtrl'>
    	<h2 ng-click = "helloWorld()">test</h2>
    </div>
  </body>
</html>