---
title: Welcome to Middleman
---

<div class="container">
<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc target">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->

  <div class="youtube-videos" id="phil">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rBcbc8eWz6U" frameborder="0" allowfullscreen></iframe>
  </div>
  <a href="https://www.facebook.com/dialog/share?app_id=87741124305&href=https%3A//www.youtube.com/attribution_link%3Fa%3D75HtZJHHi7M%26u%3D%252Fwatch%253Fv%253DrBcbc8eWz6U%2526feature%253Dshare&display=popup&redirect_uri=https://www.youtube.com/facebook_redirect" class="btn btn-primary">Facebook Share</a>

  <a class="fb-share" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.manojyadav.co.in" target="_blank">
    Share on Facebook
</a>
  

  <form class="form-inline" accept-charset="UTF-8" action="https://formkeep.com/f/a56892292fb8" method="POST">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" name="name_test">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com" name="email_test">
  </div>
  <button type="submit" class="btn btn-primary">Send invitation</button>
</form>


  
</div><!-- .welcome -->

  
</div>
