---
title: "Concours J-One"
---

<!--
Début du tag DoubleClick Floodlight : veillez à ne pas le supprimer
Nom d'activité de ce tag : JONE_RENTREE_landingpage
URL de la page Web où doit être placé le tag : http://www.landly.xyz/j-one
Ce tag doit être placé entre les balises <body> et </body>, le plus près possible de la balise d'ouverture.
Date de création : 10/11/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://3606946.fls.doubleclick.net/activityi;src=3606946;type=jone;cat=jone_0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://3606946.fls.doubleclick.net/activityi;src=3606946;type=jone;cat=jone_0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- Fin du tag DoubleClick Floodlight : Veuillez ne pas supprimer -->


<div class="all-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= link_to "", "http://j-one.com", class: "link-to-jone", target: "_blank" %>
      </div>
    </div>
  </div>


  <a href="http://www.lesoffrescanal.fr/canalsat-panorama" target="_blank">
    <div class="logo-canal-full hidden-xs"><%= image_tag('canal-noir.png', :class => "logo-canal")%></div>
  </a>
   
  <a href="http://www.lesoffrescanal.fr/canalsat-panorama" target="_blank">
    <div class="logo-canal-half hidden-sm hidden-md hidden-lg"><%= image_tag('canal-noir.png', :class => "logo-canal-cut")%></div>
  </a>
    

<div class="over">
  <div class="main-header">
    <div class="container">
      <div class="row two-catchlines">
        <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-12 single-catchline">
          <div class="col-xs-12 yellow-color first-catchline">
            <div class="catchlines">
              <span class="nowrap">Les meilleurs animés</span><br><span class="nowrap">juste après le japon !</span></span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 single-catchline">
          <div class=" col-xs-12 col-md-12 yellow-color second-catchline">
            <div class="catchlines">
              <span class="nowrap">Toute la pop culture asiatique !</span>
            </div>
          </div>
        </div>

      </div>
  

      <div class="youtubevideowrap">
         <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/CFU8OM9ynEo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
     



      <div class="row hidden-xs">
        <div class="disclaimer"><span class="red-color">J-one c'est la chaîne pop culture manga à J+1 !</span> <br> <span class="red-color">connectée au Japon, retrouvez les meilleurs animés juste après leur diffusion au Japon </span> <br> <span class="red-color">et le meilleur de <span class="nowrap">la pop culture asiatique !</span></span></div>

      </div>

      <div class="row row-xs">
        <div class="disclaimer"><span class="red-color">J-one</span><br><span class="red-color nowrap">c'est la chaîne pop culture manga à J+1 !</span></span> <br> <span class="red-color">connectée au Japon,</span> <br><span class="red-color">retrouvez les meilleurs animés</span><br><span class="red-color">juste après leur diffusion au Japon </span> <br> <span class="red-color"><span class="nowrap"> et le meilleur de la pop culture asiatique !</span></span></div>

      </div>

      <div class="two-videos">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 facebook-video-single">


            <div class="fb-video" data-href="https://www.facebook.com/JhonRachidFans/videos/10154707931002509/" data-width="auto" data-show-text="false" data-show-captions="false" ></div>
            <div class="video-subtext-div">
                <span class="video-subtext">Jhon Rachid</span><br><span class="video-subtext">envahit les locaux de J-One</span>
            </div>
            



            
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 youtube-video-single">
            <div class="youtubevideowrap">
               <div class="video-container">
                <<iframe width="560" height="315" src="https://www.youtube.com/embed/CxxOtztpFFU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </div>       
            </div> 
            <div class="video-subtext-div">
                <span class="video-subtext">Amixem</span><br><span class="video-subtext">invité au Japon par J-One</span>
              
            </div>


          </div>
        </div>
      </div>
      
    
   <!--    <a href="https://www.facebook.com/dialog/share?app_id=87741124305&href=https%3A//www.youtube.com/attribution_link%3Fa%3D75HtZJHHi7M%26u%3D%252Fwatch%253Fv%253DrBcbc8eWz6U%2526feature%253Dshare&display=popup&redirect_uri=https://www.youtube.com/facebook_redirect" class="btn btn-primary">Facebook Share</a> -->
    </div>  
    <!-- <div class="quarter-vertical-spacer"></div> -->
  </div>

  <%= partial "lower_part" %>
  

  

</div> <!-- all page -->


 
</div> <!-- over-->


<script>
  $('a').click(function(){
    var link = $(this).attr('href')
    ga('send', {
    hitType: 'event',
    eventCategory: 'Outbound Link',
    eventAction: 'click',
    eventLabel: link
  });
    console.log('click ok');
    console.log(link);
  });
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=973656975981777";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- <script>checkform();</script>
 -->
