---
title: "Concours J-One"
---


<%= image_tag('logo-canal-noir.jpg', :class => "logo-canal")%>
<div class="all-page">
  <div class="main-header">
    <div class="container">
      <div class="row two-catchlines">
        <div class="col-md-6 col-xs-12 single-catchline">
          <div class="col-xs-12 col-md-10 col-md-offset-1 yellow-color">
            <div class="catchlines">
              <span>Les meilleures animés juste après le japon!</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 single-catchline">
          <div class=" col-xs-12 col-md-10 col-md-offset-1 yellow-color">
            <div class="catchlines">
              <span>Toute la pop culture asiatique!</span>
            </div>
          </div>
        </div>

      </div>
  

      <div class="youtubevideowrap">
         <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Lgfd9Gt_LGk" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
     



      <div class="row">
        <div class="disclaimer"><span class="red-color">J-one c'est la chaîne pop culture manga à J+1!</span> <br> <span class="red-color">connectée au Japon, retrouvez les meilleurs animés juste après leur diffusion au Japon </span> <br> <span class="red-color">et le meilleur de la pop culture asiatique</span></div>

      </div>
      
    <!-- 
      <a href="https://www.facebook.com/dialog/share?app_id=87741124305&href=https%3A//www.youtube.com/attribution_link%3Fa%3D75HtZJHHi7M%26u%3D%252Fwatch%253Fv%253DrBcbc8eWz6U%2526feature%253Dshare&display=popup&redirect_uri=https://www.youtube.com/facebook_redirect" class="btn btn-primary">Facebook Share</a> -->
    </div>  
    <div class="vertical-spacer"></div>
  </div>



  <form accept-charset="UTF-8" action="https://formkeep.com/f/5b845acd6ff8" method="POST">

    <div class="contest-header">
      <div class="container contest-container">
        <div class="row contest-intro">
          <div class="col-md-6 col-md-offset-3">
            <div class="contest-title">
              CONCOURS
            </div>
            <div class="win-a-trip">
              <span class="torn-paper-text">Gagnez 1 voyage au Japon,</span>
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="disclaimer-bis">
                des mangas et des bons d'achat pour le <span class="underline-text">concept store J-One</span>
              </div>            
            </div>
          </div>
          <div class="col-md-3">
            <div class="ticket-image"><%= image_tag('dots.png')%></div>
          </div>
        </div>
        <div class="question">
          <div class="col-md-6 col-md-offset-2">
            <div class="instruction">
              Pour gagner, répondez à la question suivante :
            </div>
            <div class="question-text">
              <i>Comment s'appelle le magazine de pop culture connecté au Japon présenté par Marie ?</i>
            </div>
            <div class="answers">
              <div class="radio">
                <label><input type="radio" name="réponse" value="Le Nyûsu show">Le Nyûsu show</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="réponse" value="Le JT Sensei">Le JT Sensei</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="réponse" value="Le petitu jornalu">Le petitu jornalu</label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ticket-image"><%= image_tag('japanese-girl.png')%></div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 form-sections">
          <div class="form-instruction">
            Remplissez les champs suivants :
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label" >Nom</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" name="nom">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputFirst" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputFirst" name="prénom">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDate" class="col-sm-4 col-form-label">Date de naissance</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="inputDate" name="date de naissance">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputMail" class="col-sm-2 col-form-label">Mail</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputMail" name="email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputAddress" class="col-sm-2 col-form-label">Adresse</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputAddress" name="adresse">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputZip" class="col-sm-3 col-form-label">Code Postal</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputZip" name="code postal">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="autorisation j-one" value="true"> J'accepte de recevoir les infos de J-ONE par email
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <div class="form-check test-circle">
                  <input class="test-circle" type="checkbox" name="autoridation canal" value="true"> J'accepte de recevoir les infos de CANAL par email
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-8 col-sm-offset-2">
              <button type="submit" class="btn btn-block btn-send"><strong>ENVOYER</strong></button>
            </div>
          </div>
        </div> <!-- container -->
      </div>        <!-- container -->
      <div class="half-vertical-spacer"></div>
    </div> <!-- contest header -->

  </form>


</div> <!-- all page -->

