<div class="all-page">
 <div class="logo-canal-full hidden-xs"><%= image_tag('canal-noir.png', :class => "logo-canal")%></div>
 <div class="logo-canal-half hidden-sm hidden-md hidden-lg"><%= image_tag('canal-noir.png', :class => "logo-canal-cut")%></div> 
  <div class="main-header success-header">
    <div class="container">
      <div class="row two-catchlines">
        <div class="col-md-12 col-xs-12 single-catchline">
          <div class="col-xs-12 col-md-10 col-md-offset-1 yellow-color success-message">
            <div class="success-catchline">
              <span>Votre participation <br>a bien été prise en compte :)</span>
            </div>
          </div>
        </div>

      </div>

        <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 link-to-canal-black canal-link-text">
          <span class="">Pour profiter de tous les programmes J-ONE c’est <%= link_to 'ICI', 'http://www.lesoffrescanal.fr/canalsat-panorama', target: '_blank'%></span>
        </div>
      </div>

    <!-- 
      <a href="https://www.facebook.com/dialog/share?app_id=87741124305&href=https%3A//www.youtube.com/attribution_link%3Fa%3D75HtZJHHi7M%26u%3D%252Fwatch%253Fv%253DrBcbc8eWz6U%2526feature%253Dshare&display=popup&redirect_uri=https://www.youtube.com/facebook_redirect" class="btn btn-primary">Facebook Share</a> -->
    </div>  
  </div>




</div>

